@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    background-color: black;
}

.textHover {
    display: inline-block;
    position: relative;
    color: white; 
  }
  
  .textHover:hover {
    background: linear-gradient(to right, #2563eb, #7c3aed);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background 1s ease, color 1s ease; 
  }
  
  .animate-scrolling {
    animation: scroll 50s linear infinite;
  }
  
  .paused {
    animation-play-state: paused;
  }
    
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% - 10px)); /* Adjust for gap between items */
    }
  }
  
  