.conteudo__geral {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
  }
  .elemento__interno-borda {
    height: 300px;
    width: 300px;
    background: transparent;
    border-radius: 10px;
    transition: all 0.5s ease;
    position: relative;
  }
  .elemento__interno-borda:hover {
    border: 1px solid rgb(26, 26, 145);
    height: 200px;
    width: 200px;
  }
  .cartao {
    height: 200px;
    width: 200px;
    background: #808080;
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    background: #000;
    box-shadow: 0 70px 63px -60px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .cartao0 {
    background: url("../../assets/profilepic2.jpg")
      center center no-repeat;
    background-size: 200px;
    border-radius: 50%;
    transition: all 0.8s ease;
  }
  .cartao0:hover {
    background: url("../../assets/profilepic2.jpg")
      left top no-repeat;
    background-size: 370px;
    border-radius: 8px;
  }
  .cartao0:hover h2 {
    opacity: 1;
  }
  .cartao0:hover .fa {
    opacity: 1;
  }
  h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(36, 33, 33);
    opacity: 0;
    transition: opacity 1s;
  }
  .fa {
    opacity: 0;
    transition: opacity 1s;
  }
  .fa:hover{
    font-size: 30px;
    transition: font-size 0.2s;
  }
  .caixa__icones {
    position: absolute;
    fill: #fff;
    color: black;
    height: 120px;
    bottom: 10px;
    width: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 23px;
  }